<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Storage permissions for photo upload -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lala">

        <!-- Splash Screen (Entry Point) -->
        <activity
            android:name=".SplashScreen.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MYLIBRARY.MyLibraryActivity"
            android:exported="true" />

        <activity
            android:name=".PYTHONASSESMENT.AllAssessmentsActivity"
            android:exported="true" />

        <activity
            android:name=".PYTHONASSESMENT.AllInterviewsActivity"
            android:exported="true" />

        <!-- Login Page -->
        <activity
            android:name=".LOGINPAGE.MainActivity"
            android:exported="true" />

        <!-- SQL Compiler -->
        <activity
            android:name=".SQLCOMPILER.sqlcompiler"
            android:exported="true" />

        <!-- Python Compiler -->
        <activity
            android:name=".PYTHONCOMPILER.CompilerActivity" />
        <activity
            android:name=".PYTHONCOMPILER.PythonCompilerActivity"
            android:exported="false"
            android:label="Python Compiler" />
        <activity
            android:name=".PYTHONCOMPILER.MainActivity7"
            android:exported="true" />

        <!-- Technical Reviewer -->
        <activity
            android:name=".TECHNICALREVIEWER.TechnicalFlashcardActivity" />

        <!-- Flashcard -->
        <activity
            android:name=".FLASHCARD.FlashcardActivity"
            android:exported="false" />



        <activity
            android:name=".quiz.DynamicQuizActivity"
            android:exported="false" />

        <!-- Reviewer -->
        <activity
            android:name=".REVIEWER.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".REVIEWER.ReviewActivity"
            android:exported="false" />


        <activity
            android:name=".LEARNINGMATERIAL.CoreModule"
            android:exported="false" />

        <!-- Settings -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <!-- Profile -->
        <activity
            android:name=".ProfileMainActivity5"
            android:exported="false" />

        <!-- Google Sign-In -->
        <meta-data
            android:name="com.google.android.gms.auth.api.signin"
            android:value="@string/default_web_client_id" />

        <!-- Homepage -->
        <activity
            android:name=".homepage.MainActivity4"
            android:exported="true" />

        <!-- Available Course Page -->
        <activity
            android:name=".AVAILABLECOURSEPAGE.MainActivity3"
            android:exported="false" />

        <!-- Register Page -->
        <activity
            android:name=".REGISTERPAGE.MainActivity2"
            android:exported="true" />

        <!-- Leaderboard Page -->
        <activity
            android:name=".LEADERBOARDPAGE.Leaderboard"
            android:exported="false" />
    </application>

</manifest>
